<a href="https://colab.research.google.com/github/chrismarkella/Kaggle-access-from-Google-Colab/blob/master/Categorical_data_encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import OneHotEncoder

In [2]:
colors = ['Red', 'Blue', 'Green', 'Blue', 'Red', 'Red',]
temperatures = ['Cold', 'Hot', 'Warm', 'Cold', 'Hot', 'Hot']
breakfasts = ['Never', 'Never', 'Every day', 'Never', 'Most days', 'Rarely',]
brands = ['Toyota', 'Mercedes', 'Mercedes', 'Mercedes', 'Tesla', 'Tesla',]

df = pd.DataFrame(
    data={
        'Color': colors,
        'Temperature': temperatures,
        'Breakfast': breakfasts,
        'Brand': brands,
    },
    index=list('ABCDEF')
)
df

   Color Temperature  Breakfast     Brand
A    Red        Cold      Never    Toyota
B   Blue         Hot      Never  Mercedes
C  Green        Warm  Every day  Mercedes
D   Blue        Cold      Never  Mercedes
E    Red         Hot  Most days     Tesla
F    Red         Hot     Rarely     Tesla

In [0]:
temerature_order_dict = {
    'Cold': 1,
    'Warm': 2,
    'Hot': 3,
}

breakfast_order_dict = {
    'Never': 1,
    'Rarely': 2,
    'Most days': 3,
    'Every day': 4,
}

ordinal_columns = [
#   (column_name  , column_order_dictionary)
    ('Temperature', temerature_order_dict),
    ('Breakfast', breakfast_order_dict),
]

nominal_columns = [
    'Color',
    'Brand',
]

In [0]:
def encode_ordinal_columns(ordinal_columns):
    """Encode the ordinal columns of the DataFrame.
    """
    for col, col_order_dict in ordinal_columns:
        df[col + '_encoded'] = df[col].map(lambda b: col_order_dict[b])

In [0]:
def one_hot_encode(column_lst):
    """Return the One-Hot encoded columns of columns_lst as a DataFrame.
    """
    one_hot_encoder = OneHotEncoder(sparse=False)
    one_hot_array = one_hot_encoder.fit_transform(df[column_lst])

    categories_lst = []
    for categories in one_hot_encoder.categories_:
        categories_lst.extend(categories)

    one_hot_df = pd.DataFrame(
        data=one_hot_array,
        columns=categories_lst,
        index=df.index
    )
    return one_hot_df

def encode_nominal_columns(nominal_columns, one_hot=True):
    """Return the encoded columns of nominal_columns as a DataFrame.
    """
    if one_hot:
        return one_hot_encode(nominal_columns)
    else:
        return 'Only One-Hot encoding is implemented yet.'

In [6]:
def encode_categorical_columns(ordinal_columns, nominal_columns):
    """Return the encoded DataFrame of the ordianal columns.
    """
    encode_ordinal_columns(ordinal_columns)
    one_hot_df = encode_nominal_columns(nominal_columns)
    
    return pd.concat([df, one_hot_df], axis='columns')

encode_categorical_columns(ordinal_columns, nominal_columns)

   Color Temperature  Breakfast     Brand  ...  Red  Mercedes  Tesla  Toyota
A    Red        Cold      Never    Toyota  ...  1.0       0.0    0.0     1.0
B   Blue         Hot      Never  Mercedes  ...  0.0       1.0    0.0     0.0
C  Green        Warm  Every day  Mercedes  ...  0.0       1.0    0.0     0.0
D   Blue        Cold      Never  Mercedes  ...  0.0       1.0    0.0     0.0
E    Red         Hot  Most days     Tesla  ...  1.0       0.0    1.0     0.0
F    Red         Hot     Rarely     Tesla  ...  1.0       0.0    1.0     0.0

[6 rows x 12 columns]